/* stylelint-enable */
.pf-c-login__main {
  --pf-global--Color--100: var(--pf-global--Color--dark-100);
  --pf-global--Color--200: var(--pf-global--Color--dark-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--dark);
  --pf-global--primary-color--100: var(--pf-global--primary-color--dark-100);
  --pf-global--link--Color: var(--pf-global--primary-color--dark-100);
  --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--light-100); }

.pf-c-login {
  --pf-global--Color--100: var(--pf-global--Color--light-100);
  --pf-global--Color--200: var(--pf-global--Color--light-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--light);
  --pf-global--primary-color--100: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color--hover: var(--pf-global--link--Color--light-hover);
  --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--dark-100); }
  .pf-c-login .pf-c-card {
    --pf-c-card--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-200); }

.pf-c-login {
  --pf-c-login--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-login--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-login__container--xl--GridColumnGap: var(--pf-global--spacer--3xl);
  --pf-c-login__container--MaxWidth: 31.25rem;
  --pf-c-login__container--PaddingLeft: 6.125rem;
  --pf-c-login__container--PaddingRight: 6.125rem;
  --pf-c-login__container--xl--GridTemplateColumns: 34rem minmax(auto, 34rem);
  --pf-c-login--xl--BackgroundImage: linear-gradient(to right, var(--pf-global--BackgroundColor--dark-transparent-200), var(--pf-global--BackgroundColor--dark-transparent-200) calc((98px - var(--pf-c-login__container--xl--GridColumnGap)) + var(--pf-c-login__container--xl--GridColumnGap) + 272px), transparent calc((98px - var(--pf-c-login__container--xl--GridColumnGap)) + var(--pf-c-login__container--xl--GridColumnGap) + 272px));
  --pf-c-login__header--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-login__header--sm--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-login__header--sm--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-login__header--xl--MarginBottom: var(--pf-global--spacer--2xl);
  --pf-c-login__header--xl--MarginTop: var(--pf-global--spacer--3xl);
  --pf-c-login__header-brand--MarginBottom: var(--pf-global--spacer--lg);
  --pf-c-login__header-brand--xl--MarginBottom: var(--pf-global--spacer--2xl);
  --pf-c-login__main--xl--MarginBottom: var(--pf-global--spacer--lg);
  --pf-c-login__footer--sm--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-login__footer--sm--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-login__footer-link--Color: var(--pf-global--Color--light-100);
  --pf-c-login__main--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-login__main-header--PaddingTop: var(--pf-global--spacer--2xl);
  --pf-c-login__main-header--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-login__main-header--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-login__main-header--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-login__main-header--ColumnGap: var(--pf-global--spacer--md);
  --pf-c-login__main-header--RowGap: var(--pf-global--spacer--sm);
  --pf-c-login__main-body--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-login__main-body--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-login__main-body--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-login__main-body--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-login__main-body-form-group--m-action--GridGap: var(--pf-global--spacer--lg);
  --pf-c-login__main-body-form-group--m-action__button--PaddingX: var(--pf-global--spacer--xl);
  --pf-c-login__main-footer--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-login__main-footer--PaddingRight: var(--pf-global--spacer--2xl);
  --pf-c-login__main-footer--PaddingBottom: var(--pf-global--spacer--3xl);
  --pf-c-login__main-footer--PaddingLeft: var(--pf-global--spacer--2xl);
  --pf-c-login__main-footer-title--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-login__main-footer-link--PaddingX: var(--pf-global--spacer--sm);
  --pf-c-login__main-footer-link--GridGap: var(--pf-global--spacer--sm);
  --pf-c-login__main-footer-link--Color: var(--pf-global--Color--dark-100);
  --pf-c-login__main-footer-link--hover--Color: var(--pf-global--Color--dark-200);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: var(--pf-c-login--PaddingTop);
  padding-bottom: var(--pf-c-login--PaddingBottom); }
  @media (min-width: 1200px) {
    .pf-c-login {
      justify-content: flex-start;
      background-image: var(--pf-c-login--xl--BackgroundImage); } }
  @media (min-width: 576px) {
    .pf-c-login {
      align-items: center; } }

.pf-c-login__container {
  max-width: var(--pf-c-login__container--MaxWidth); }
  @media (min-width: 1200px) {
    .pf-c-login__container {
      display: grid;
      grid-column-gap: var(--pf-c-login__container--xl--GridColumnGap);
      grid-template-columns: var(--pf-c-login__container--xl--GridTemplateColumns);
      grid-template-areas: "main header" "main footer" "main .";
      max-width: none;
      padding-right: var(--pf-c-login__container--PaddingRight);
      padding-left: var(--pf-c-login__container--PaddingLeft); } }

.pf-c-login__header {
  grid-area: header;
  margin-bottom: var(--pf-c-login__header--MarginBottom); }
  @media (max-width: 576px) {
    .pf-c-login__header {
      padding-right: var(--pf-c-login__header--sm--PaddingRight);
      padding-left: var(--pf-c-login__header--sm--PaddingLeft); } }
  @media (min-width: 1200px) {
    .pf-c-login__header {
      margin-top: var(--pf-c-login__header--xl--MarginTop);
      margin-bottom: var(--pf-c-login__header--xl--MarginBottom); } }
  .pf-c-login__header .pf-c-brand {
    margin-bottom: var(--pf-c-login__header-brand--MarginBottom); }
    @media (min-width: 1200px) {
      .pf-c-login__header .pf-c-brand {
        margin-bottom: var(--pf-c-login__header-brand--xl--MarginBottom); } }

.pf-c-login__main {
  grid-area: main;
  background-color: var(--pf-c-login__main--BackgroundColor); }
  .pf-c-login__main > :first-child:not(.pf-c-login__main-header) {
    padding-top: var(--pf-c-login__main-header--PaddingTop); }
  .pf-c-login__main > :last-child:not(.pf-c-login__main-footer) {
    padding-bottom: var(--pf-c-login__main-footer--PaddingBottom); }
  @media (max-width: 1200px) {
    .pf-c-login__main {
      margin-bottom: var(--pf-c-login__main--xl--MarginBottom); } }

.pf-c-login__main-header {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--pf-c-login__main-header--ColumnGap);
  row-gap: var(--pf-c-login__main-header--RowGap);
  align-items: center;
  padding-top: var(--pf-c-login__main-header--PaddingTop);
  padding-right: var(--pf-c-login__main-header--PaddingRight);
  padding-bottom: var(--pf-c-login__main-header--PaddingBottom);
  padding-left: var(--pf-c-login__main-header--PaddingLeft); }
  .pf-c-login__main-header .pf-c-title {
    grid-column: -1 / 1; }

.pf-c-login__main-body {
  padding-top: var(--pf-c-login__main-body--PaddingTop);
  padding-right: var(--pf-c-login__main-body--PaddingRight);
  padding-bottom: var(--pf-c-login__main-body--PaddingBottom);
  padding-left: var(--pf-c-login__main-body--PaddingLeft); }
  .pf-c-login__main-body .pf-c-form__group.pf-m-action {
    display: grid;
    justify-items: center;
    grid-gap: var(--pf-c-login__main-body-form-group--m-action--GridGap); }
    @media (min-width: 768px) {
      .pf-c-login__main-body .pf-c-form__group.pf-m-action {
        grid-template-columns: auto 1fr;
        justify-items: start; } }
    .pf-c-login__main-body .pf-c-form__group.pf-m-action .pf-c-button {
      --pf-c-button--PaddingLeft: var(--pf-c-login__main-body-form-group--m-action__button--PaddingX);
      --pf-c-button--PaddingRight: var(--pf-c-login__main-body-form-group--m-action__button--PaddingX);
      justify-self: stretch; }
    .pf-c-login__main-body .pf-c-form__group.pf-m-action .pf-c-check {
      display: flex;
      align-items: center; }

.pf-c-login__main-footer {
  padding-top: var(--pf-c-login__main-footer--PaddingTop);
  padding-right: var(--pf-c-login__main-footer--PaddingRight);
  padding-bottom: var(--pf-c-login__main-footer--PaddingBottom);
  padding-left: var(--pf-c-login__main-footer--PaddingLeft); }
  .pf-c-login__main-footer .pf-c-title {
    margin-bottom: var(--pf-c-login__main-footer-title--MarginBottom);
    text-align: center; }
    @media (min-width: 768px) {
      .pf-c-login__main-footer .pf-c-title {
        text-align: left; } }

.pf-c-login__main-footer-link {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--pf-c-login__main-footer-link--GridGap);
  align-items: center;
  padding-top: var(--pf-c-login__main-footer-link--PaddingX);
  padding-bottom: var(--pf-c-login__main-footer-link--PaddingX);
  color: var(--pf-c-login__main-footer-link--Color); }
  .pf-c-login__main-footer-link:hover, .pf-c-login__main-footer-link.pf-m-hover {
    color: var(--pf-c-login__main-footer-link--hover--Color); }

.pf-c-login__main-footer-link-text {
  display: none; }
  @media (min-width: 576px) {
    .pf-c-login__main-footer-link-text {
      display: initial; } }

.pf-c-login__footer {
  grid-area: footer; }
  @media (max-width: 576px) {
    .pf-c-login__footer {
      padding-right: var(--pf-c-login__footer--sm--PaddingRight);
      padding-left: var(--pf-c-login__footer--sm--PaddingLeft); } }

.pf-c-login__footer-link, .pf-c-login__footer-link:hover, .pf-c-login__footer-link.pf-m-hover {
  color: var(--pf-c-login__footer-link--Color); }
