/* stylelint-enable */
.pf-l-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
  grid-gap: 10px; }
  .pf-l-gallery.pf-m-gutter {
    --pf-l-gallery--m-gutter--GridGap: var(--pf-global--gutter);
    grid-gap: var(--pf-l-gallery--m-gutter--GridGap); }
