

.pf-l-gallery {
  --pf-l-gallery--GridTemplateColumns: repeat(auto-fill, minmax(250px, 1fr)); // The 250px value is here just so that the grid has a width to use in the minmax() for laying out the gallery columns.

  display: grid;
  // grid-template-columns: var(--pf-l-gallery--GridTemplateColumns);
  grid-template-columns: 313px 313px 313px 313px;
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // The 250px value is here just so that the grid has a width to use in the minmax() for laying out the gallery columns.
  // grid-auto-rows: 100px;
  grid-template-rows: 100px 100px 100px 100px;
  grid-gap: 10px;

  &.pf-m-gutter {
    --pf-l-gallery--m-gutter--GridGap: var(--pf-global--gutter);

    grid-gap: var(--pf-l-gallery--m-gutter--GridGap);
  }
}
