/* stylelint-enable */
.pf-l-page__header, .pf-l-page__main-section[class*="pf-m-dark-"] {
  --pf-global--Color--100: var(--pf-global--Color--light-100);
  --pf-global--Color--200: var(--pf-global--Color--light-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--light);
  --pf-global--primary-color--100: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color--hover: var(--pf-global--link--Color--light-hover);
  --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--dark-100); }
  .pf-l-page__header .pf-c-card, .pf-l-page__main-section[class*="pf-m-dark-"] .pf-c-card {
    --pf-c-card--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-200); }

.pf-l-page {
  --pf-l-page__header-brand-link--MarginLeft: var(--pf-global--spacer--md);
  --pf-l-page__header-brand-link--c-brand--MaxHeight: 3.75rem;
  --pf-l-page__header-brand-link--md--MaxWidth: 9.375rem;
  --pf-l-page__header-nav--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-page__header-nav--md--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--lg--MarginLeft: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--lg--MarginRight: var(--pf-global--spacer--xl);
  --pf-l-page__header-nav--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-100);
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas: "header" "main"; }
  @media (min-width: 768px) {
    .pf-l-page {
      grid-template-columns: max-content 1fr;
      grid-template-areas: "header header" "nav main"; } }

.pf-l-page__header {
  --pf-l-page__header--ZIndex: var(--pf-global--ZIndex--md);
  --pf-l-page__header--MinHeight: 4.75rem;
  grid-area: header;
  z-index: var(--pf-l-page__header--ZIndex);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  min-height: var(--pf-l-page__header--MinHeight); }
  .pf-l-page__header > * {
    display: flex;
    align-items: center; }

.pf-l-page__header-brand {
  --pf-l-page__header-brand--PaddingRight: var(--pf-global--spacer--xl);
  --pf-l-page__header-brand--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-l-page__header-brand--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-page__header-brand--md--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-l-page__header-brand--md--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-100);
  --pf-l-page__header-brand--md--FlexBasis: 18.125rem;
  padding-left: var(--pf-l-page__header-brand--PaddingLeft); }
  @media (min-width: 768px) {
    .pf-l-page__header-brand {
      --pf-l-page__header-brand--PaddingLeft: var(--pf-l-page__header-brand--md--PaddingLeft);
      flex: 0 0 var(--pf-l-page__header-brand--md--FlexBasis);
      align-self: stretch;
      padding-right: var(--pf-l-page__header-brand--PaddingRight);
      background-color: var(--pf-l-page__header-brand--md--BackgroundColor); } }

.pf-l-page__header-brand-link {
  display: flex;
  flex: 1;
  align-items: center; }
  .pf-l-page__header-brand-link .pf-c-brand {
    max-height: var(--pf-l-page__header-brand-link--c-brand--MaxHeight); }
  @media screen and (max-width: 768px) {
    .pf-l-page__header-brand-link {
      max-width: var(--pf-l-page__header-brand-link--md--MaxWidth); } }

.pf-l-page__header-brand-toggle {
  --pf-l-page__header-sidebar-toggle__c-button--Padding: var(--pf-global--spacer--sm);
  --pf-l-page__header-sidebar-toggle__c-button--MarginRight: var(--pf-global--spacer--md);
  --pf-l-page__header-sidebar-toggle__c-button--MarginLeft: calc(var(--pf-global--spacer--xs) * -1);
  --pf-l-page__header-sidebar-toggle__c-button--md--MarginLeft: calc(var(--pf-global--spacer--sm) * -1);
  --pf-l-page__header-sidebar-toggle__c-button--FontSize: var(--pf-global--FontSize--2xl); }
  .pf-l-page__header-brand-toggle .pf-c-button {
    padding: var(--pf-l-page__header-sidebar-toggle__c-button--Padding);
    margin-right: var(--pf-l-page__header-sidebar-toggle__c-button--MarginRight);
    margin-left: var(--pf-l-page__header-sidebar-toggle__c-button--MarginLeft);
    font-size: var(--pf-l-page__header-sidebar-toggle__c-button--FontSize);
    line-height: 1; }
    @media screen and (min-width: 768px) {
      .pf-l-page__header-brand-toggle .pf-c-button {
        --pf-l-page__header-sidebar-toggle__c-button--MarginLeft: var(--pf-l-page__header-sidebar-toggle__c-button--md--MarginLeft); } }

.pf-l-page__header-nav {
  order: 1;
  width: 100vw;
  padding-left: var(--pf-l-page__header-nav--PaddingLeft);
  overflow: hidden;
  background-color: var(--pf-l-page__header-nav--BackgroundColor); }
  @media screen and (min-width: 768px) {
    .pf-l-page__header-nav {
      --pf-l-page__header-nav--PaddingLeft: var(--pf-l-page__header-nav--md--PaddingLeft); } }
  @media screen and (min-width: 992px) {
    .pf-l-page__header-nav {
      flex: 1;
      align-self: flex-end;
      order: initial;
      width: auto;
      padding: 0;
      margin-right: var(--pf-l-page__header-nav--lg--MarginRight);
      margin-left: var(--pf-l-page__header-nav--lg--MarginLeft);
      background-color: transparent; } }

.pf-l-page__header-tools {
  --pf-l-page__header-tools--MarginTop: var(--pf-global--spacer--sm);
  --pf-l-page__header-tools--MarginRight: var(--pf-global--spacer--md);
  --pf-l-page__header-tools--MarginBottom: var(--pf-global--spacer--sm);
  --pf-l-page__header-tools--md--MarginRight: var(--pf-global--spacer--xl);
  --pf-l-page__header-tools--c-dropdown__toggle-text--MaxWidth: 20ch;
  --pf-l-page__header-tools--c-avatar--MarginLeft: var(--pf-global--spacer--md);
  align-items: center;
  margin-top: var(--pf-l-page__header-tools--MarginTop);
  margin-right: var(--pf-l-page__header-tools--MarginRight);
  margin-bottom: var(--pf-l-page__header-tools--MarginBottom);
  margin-left: auto; }
  @media screen and (min-width: 768px) {
    .pf-l-page__header-tools {
      --pf-l-page__header-tools--MarginRight: var(--pf-l-page__header-tools--md--MarginRight); } }
  .pf-l-page__header-tools .pf-c-dropdown__toggle-text {
    max-width: var(--pf-l-page__header-tools--c-dropdown__toggle-text--MaxWidth); }
  .pf-l-page__header-tools .pf-c-avatar {
    margin-left: var(--pf-l-page__header-tools--c-avatar--MarginLeft); }

.pf-l-page__sidebar {
  --pf-l-page__sidebar--ZIndex: var(--pf-global--ZIndex--sm);
  --pf-l-page__sidebar--Width: 80%;
  --pf-l-page__sidebar--md--Width: 18.125rem;
  --pf-l-page__sidebar--PaddingTop: var(--pf-global--spacer--md);
  --pf-l-page__sidebar--PaddingBottom: var(--pf-global--spacer--md);
  --pf-l-page__sidebar--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-l-page__sidebar--BoxShadow: var(--pf-global--BoxShadow--lg-right);
  --pf-l-page__sidebar--Transition: var(--pf-global--Transition);
  --pf-l-page__sidebar--Transform--out: translate3d(-100%, 0, 0);
  --pf-l-page__sidebar--md--Transform--in: translate3d(0, 0, 0);
  grid-area: 2 / 1;
  z-index: var(--pf-l-page__sidebar--ZIndex);
  width: var(--pf-l-page__sidebar--Width);
  padding-top: var(--pf-l-page__sidebar--PaddingTop);
  padding-bottom: var(--pf-l-page__sidebar--PaddingBottom);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--pf-l-page__sidebar--BackgroundColor);
  transition: var(--pf-l-page__sidebar--Transition);
  transform: var(--pf-l-page__sidebar--Transform--out); }
  @media screen and (min-width: 768px) {
    .pf-l-page__sidebar {
      flex: 1;
      order: initial;
      width: var(--pf-l-page__sidebar--md--Width);
      max-width: var(--pf-l-page__sidebar--md--Width);
      box-shadow: var(--pf-l-page__sidebar--BoxShadow);
      transform: var(--pf-l-page__sidebar--md--Transform--in); } }
  .pf-l-page__sidebar.pf-m-expanded {
    box-shadow: var(--pf-l-page__sidebar--BoxShadow);
    transform: translate3d(0, 0, 0); }
  @media screen and (min-width: 768px) {
    .pf-l-page__sidebar.pf-m-collapsed {
      max-width: 0;
      overflow: hidden; } }

.pf-l-page__main {
  --pf-l-page__main--ZIndex: var(--pf-global--ZIndex--xs);
  grid-area: main;
  z-index: var(--pf-l-page__main--ZIndex);
  display: flex;
  flex-direction: column;
  padding-right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.pf-l-page__main-nav {
  --pf-l-page__main-nav--PaddingTop: var(--pf-global--spacer--md);
  --pf-l-page__main-nav--PaddingRight: 0;
  --pf-l-page__main-nav--PaddingBottom: var(--pf-global--spacer--md);
  --pf-l-page__main-nav--PaddingLeft: var(--pf-global--spacer--md);
  --pf-l-page__main-nav--md--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-l-page__main-nav--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  padding: var(--pf-l-page__main-nav--PaddingTop) var(--pf-l-page__main-nav--PaddingRight) var(--pf-l-page__main-nav--PaddingBottom) var(--pf-l-page__main-nav--PaddingLeft);
  background-color: var(--pf-l-page__main-nav--BackgroundColor); }
  @media screen and (min-width: 768px) {
    .pf-l-page__main-nav {
      --pf-l-page__main-nav--PaddingLeft: var(--pf-l-page__main-nav--md--PaddingLeft); } }

.pf-l-page__main-section {
  --pf-l-page__main-section--Padding: var(--pf-global--spacer--md);
  --pf-l-page__main-section--md--Padding: var(--pf-global--spacer--xl);
  --pf-l-page__main-section--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  padding: var(--pf-l-page__main-section--Padding);
  background-color: var(--pf-l-page__main-section--BackgroundColor); }
  @media screen and (min-width: 768px) {
    .pf-l-page__main-section {
      --pf-l-page__main-section--Padding: var(--pf-l-page__main-section--md--Padding); } }
  .pf-l-page__main-section:last-of-type, .pf-l-page__main-section:only-child {
    flex-grow: 1;
    background-color: var(--pf-l-page__main-section--BackgroundColor); }
  .pf-l-page__main-section.pf-m-light {
    --pf-l-page__main-section--m-light--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
    background-color: var(--pf-l-page__main-section--m-light--BackgroundColor); }
  .pf-l-page__main-section.pf-m-dark-100 {
    --pf-l-page__main-section--m-dark-100--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-100);
    background-color: var(--pf-l-page__main-section--m-dark-100--BackgroundColor); }
  .pf-l-page__main-section.pf-m-dark-200 {
    --pf-l-page__main-section--m-dark-200--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-200);
    background-color: var(--pf-l-page__main-section--m-dark-200--BackgroundColor); }
