/* stylelint-enable */
.pf-c-list {
  --pf-c-list--m-inline--MarginRight: var(--pf-global--spacer--md);
  --pf-c-list--m-grid--GridGap: var(--pf-global--spacer--md);
  --pf-c-content--li--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-content--ul--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-content--ul--MarginTop: var(--pf-global--spacer--md);
  --pf-c-content--MarginBottom: var(--pf-global--spacer--md);
  --pf-c-content--ul--MarginLeft: var(--pf-global--spacer--lg);
  --pf-c-content--ul--ListStyle: var(--pf-global--ListStyle);
  --pf-c-content--ul--nested--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-content--ul--nested--MarginLeft: var(--pf-global--spacer--sm); }
  .pf-c-list.pf-m-inline {
    display: flex;
    flex-wrap: wrap; }
    .pf-c-list.pf-m-inline li:not(:last-child) {
      margin-right: var(--pf-c-list--m-inline--MarginRight); }
  .pf-c-list.pf-m-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: var(--pf-c-list--m-grid--GridGap); }
  .pf-c-list:not(.pf-m-grid):not(.pf-m-inline) {
    padding-left: var(--pf-c-content--ul--PaddingLeft);
    margin: 0;
    margin-top: var(--pf-c-content--ul--MarginTop);
    margin-bottom: var(--pf-c-content--MarginBottom);
    margin-left: var(--pf-c-content--ul--MarginLeft);
    list-style: var(--pf-c-content--ul--ListStyle); }
    .pf-c-list:not(.pf-m-grid):not(.pf-m-inline) ul {
      margin-top: var(--pf-c-content--ul--nested--MarginTop);
      margin-left: var(--pf-c-content--ul--nested--MarginLeft); }
    .pf-c-list:not(.pf-m-grid):not(.pf-m-inline) li + li {
      margin-top: var(--pf-c-content--li--MarginTop); }
