/* stylelint-enable */
.pf-c-tabs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.pf-c-tabs {
  --pf-c-tabs__item--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-tabs__item--BorderColor: var(--pf-global--BorderColor--light-200);
  --pf-c-tabs__item--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__item--BorderRightWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__item--BorderBottomWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__item--BorderLeftWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__item--m-current--ZIndex: var(--pf-global--ZIndex--sm);
  --pf-c-tabs__item--m-current--Color: var(--pf-global--active-color--100);
  --pf-c-tabs__item--m-current--BorderTopWidth: 0.125rem;
  --pf-c-tabs__item--hover--Color: var(--pf-global--Color--dark-200);
  --pf-c-tabs__button--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-tabs__button--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-tabs__button--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-tabs__button--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-tabs__scroll-button--Width: var(--pf-global--spacer--xl);
  --pf-c-tabs__scroll-button--BackgroundColor: var(--pf-global--BackgroundColor--100);
  --pf-c-tabs__scroll-button--BorderColor: var(--pf-global--BorderColor--light-200);
  --pf-c-tabs__scroll-button--BorderTopWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__scroll-button--BorderRightWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__scroll-button--BorderBottomWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__scroll-button--BorderLeftWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-tabs__scroll-button--ZIndex: var(--pf-global--ZIndex--md);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .pf-c-tabs .pf-c-tabs__scroll-button {
    display: none;
    visibility: hidden; }
  .pf-c-tabs.pf-m-start .pf-c-tabs__scroll-button:nth-of-type(1),
  .pf-c-tabs.pf-m-end .pf-c-tabs__scroll-button:nth-of-type(2) {
    display: block;
    visibility: visible; }
  .pf-c-tabs.pf-m-start-current .pf-c-tabs__scroll-button:nth-of-type(1)::after,
  .pf-c-tabs.pf-m-end-current .pf-c-tabs__scroll-button:nth-of-type(2)::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: var(--pf-c-tabs__item--BorderLeftWidth);
    content: "";
    border-top: var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--m-current--Color); }
  .pf-c-tabs:not(.pf-m-start-current) .pf-c-tabs__scroll-button:nth-of-type(1):hover ::after,
  .pf-c-tabs:not(.pf-m-end-current) .pf-c-tabs__scroll-button:nth-of-type(2):hover ::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: var(--pf-c-tabs__item--BorderLeftWidth);
    content: "";
    border-top: var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--hover--Color); }
  .pf-c-tabs + .pf-c-tabs.pf-m-tabs-secondary,
  .pf-c-tabs + .pf-m-tabs-secondary .pf-c-tabs {
    margin-top: calc(-1 * var(--pf-c-tabs__item--BorderTopWidth));
    border-top: var(--pf-c-tabs__item--BorderTopWidth) solid var(--pf-c-tabs__item--BorderColor); }
    .pf-c-tabs + .pf-c-tabs.pf-m-tabs-secondary .pf-c-tabs__scroll-button,
    .pf-c-tabs + .pf-m-tabs-secondary .pf-c-tabs .pf-c-tabs__scroll-button {
      margin-top: calc(-1 * var(--pf-c-tabs__item--BorderTopWidth)); }
  .pf-c-tabs.pf-m-fill .pf-c-tabs__list {
    width: 100%; }
  .pf-c-tabs.pf-m-fill .pf-c-tabs__item {
    flex: 1;
    white-space: nowrap; }
    .pf-c-tabs.pf-m-fill .pf-c-tabs__item:first-of-type .pf-c-tabs__button::before {
      border-left: none; }
    .pf-c-tabs.pf-m-fill .pf-c-tabs__item:last-of-type .pf-c-tabs__button::before {
      border-right: none; }
    .pf-c-tabs.pf-m-fill .pf-c-tabs__item .pf-c-tabs__button {
      width: 100%; }

.pf-c-tabs__list {
  position: relative;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .pf-c-tabs__list .pf-c-tabs__item:last-of-type .pf-c-tabs__button::before {
    border-right-width: var(--pf-c-tabs__item--BorderRightWidth); }

.pf-c-tabs__item {
  flex: none; }
  .pf-c-tabs__item .pf-c-tabs__button {
    position: relative;
    padding-top: var(--pf-c-tabs__button--PaddingTop);
    padding-right: var(--pf-c-tabs__button--PaddingRight);
    padding-bottom: var(--pf-c-tabs__button--PaddingBottom);
    padding-left: var(--pf-c-tabs__button--PaddingLeft);
    user-select: none;
    border: initial; }
    .pf-c-tabs__item .pf-c-tabs__button::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: "";
      border: solid var(--pf-c-tabs__item--BorderColor);
      border-width: var(--pf-c-tabs__item--BorderTopWidth) 0 var(--pf-c-tabs__item--BorderBottomWidth) var(--pf-c-tabs__item--BorderLeftWidth); }
  .pf-c-tabs__item:not(.pf-m-current):hover .pf-c-tabs__button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: var(--pf-c-tabs__item--BorderLeftWidth);
    content: "";
    border-top: var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--hover--Color); }
  .pf-c-tabs__item.pf-m-current .pf-c-tabs__button {
    z-index: var(--pf-c-tabs__item--m-current--ZIndex);
    color: var(--pf-c-tabs__item--m-current--Color); }
    .pf-c-tabs__item.pf-m-current .pf-c-tabs__button::before {
      border-bottom-color: var(--pf-c-tabs__item--BackgroundColor); }
    .pf-c-tabs__item.pf-m-current .pf-c-tabs__button::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin-left: var(--pf-c-tabs__item--BorderLeftWidth);
      content: "";
      border-top: var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--m-current--Color); }
  .pf-m-tabs-secondary .pf-c-tabs__item .pf-c-tabs__button::before, .pf-m-tabs-secondary .pf-c-tabs__item .pf-c-tabs__button::after {
    content: none; }
  .pf-m-tabs-secondary .pf-c-tabs__item .pf-c-tabs__button:hover::after {
    content: none; }
  .pf-m-tabs-secondary .pf-c-tabs__item:not(.pf-m-current) .pf-c-tabs__button:hover {
    color: var(--pf-c-tabs__item--hover--Color); }

.pf-c-tabs__scroll-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--pf-c-tabs__scroll-button--Width); }
  .pf-c-tabs__scroll-item:first-of-type {
    left: 0; }
  .pf-c-tabs__scroll-item:last-of-type {
    right: 0; }

.pf-c-tabs__scroll-button {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: var(--pf-c-tabs__scroll-button--ZIndex);
  width: var(--pf-c-tabs__scroll-button--Width);
  line-height: 1;
  background-color: var(--pf-c-tabs__scroll-button--BackgroundColor);
  border: initial; }
  .pf-c-tabs__scroll-button:nth-of-type(2) {
    right: 0; }
  .pf-c-tabs__scroll-button::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: solid var(--pf-c-tabs__scroll-button--BorderColor);
    border-width: var(--pf-c-tabs__scroll-button--BorderTopWidth) var(--pf-c-tabs__scroll-button--BorderRightWidth) var(--pf-c-tabs__scroll-button--BorderBottomWidth) var(--pf-c-tabs__scroll-button--BorderLeftWidth); }
  .pf-c-tabs__scroll-button:hover::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-top: var(--pf-c-tabs__item--m-current--BorderTopWidth) solid var(--pf-c-tabs__item--hover--Color); }
