/* stylelint-enable */
.pf-c-progress {
  --pf-c-progress--GridGap: var(--pf-global--spacer--md);
  --pf-c-progress__bar--BackgroundColor: var(--pf-global--primary-color--100);
  --pf-c-progress__bar--Height: var(--pf-global--spacer--md);
  --pf-c-progress__bar-underlay--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-progress__status--Color: var(--pf-global--Color--100);
  --pf-c-progress__measure--inside--Color: var(--pf-global--Color--light-100);
  --pf-c-progress__measure--inside-success--Color: var(--pf-global--Color--dark-100);
  --pf-c-progress__measure--inside--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-progress__measure--outside--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-progress__status-icon--MarginLeft: var(--pf-global--spacer--sm);
  --pf-c-progress__bar--Height: var(--pf-global--spacer--md);
  --pf-c-progress__bar--Height--sm: var(--pf-global--spacer--sm);
  --pf-c-progress__bar--Height--lg: var(--pf-global--spacer--lg);
  --pf-c-progress__bar-overlay--Opacity: .2;
  --pf-c-progress__indicator--inside--MinWidth: var(--pf-global--spacer--xl);
  --pf-c-progress--m-danger--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-progress--m-success--BackgroundColor: var(--pf-global--success-color--100);
  --pf-c-progress__status--m-danger--Color: var(--pf-global--danger-color--100);
  --pf-c-progress__status--m-success--Color: var(--pf-global--success-color--100);
  display: grid;
  grid-gap: var(--pf-c-progress--GridGap);
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto; }
  .pf-c-progress.pf-m-lg {
    --pf-c-progress__bar--Height: var(--pf-c-progress__bar--Height--lg); }
  .pf-c-progress.pf-m-sm {
    --pf-c-progress__bar--Height: var(--pf-c-progress__bar--Height--sm); }
  .pf-c-progress.pf-m-inside .pf-c-progress__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: var(--pf-c-progress__indicator--inside--MinWidth); }
  .pf-c-progress.pf-m-inside .pf-c-progress__measure {
    font-size: var(--pf-c-progress__measure--inside--FontSize);
    color: var(--pf-c-progress__measure--inside--Color);
    text-align: center; }
  .pf-c-progress.pf-m-outside .pf-c-progress__description {
    grid-column: 1 / 3; }
  .pf-c-progress.pf-m-outside .pf-c-progress__status {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center; }
  .pf-c-progress.pf-m-outside .pf-c-progress__measure {
    font-size: var(--pf-c-progress__measure--outside--FontSize); }
  .pf-c-progress.pf-m-outside .pf-c-progress__bar,
  .pf-c-progress.pf-m-outside .pf-c-progress__indicator {
    grid-column: 1 / 2; }
  .pf-c-progress.pf-m-success {
    --pf-c-progress__bar--BackgroundColor: var(--pf-c-progress--m-success--BackgroundColor);
    --pf-c-progress__status--Color: var(--pf-c-progress__status--m-success--Color);
    --pf-c-progress__measure--inside--Color: var(--pf-c-progress__measure--inside-success--Color); }
  .pf-c-progress.pf-m-danger {
    --pf-c-progress__bar--BackgroundColor: var(--pf-c-progress--m-danger--BackgroundColor);
    --pf-c-progress__status--Color: var(--pf-c-progress__status--m-danger--Color); }

.pf-c-progress__description {
  grid-column: 1 / 2; }

.pf-c-progress__status {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: end; }

.pf-c-progress__status-icon {
  margin-left: var(--pf-c-progress__status-icon--MarginLeft);
  color: var(--pf-c-progress__status--Color); }

.pf-c-progress__bar {
  position: relative;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  align-self: center;
  height: var(--pf-c-progress__bar--Height);
  background-color: var(--pf-c-progress__bar-underlay--BackgroundColor); }
  .pf-c-progress__bar::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--pf-c-progress__bar--BackgroundColor);
    opacity: var(--pf-c-progress__bar-overlay--Opacity); }

.pf-c-progress__indicator {
  position: absolute;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  align-self: center;
  height: var(--pf-c-progress__bar--Height);
  background-color: var(--pf-c-progress__bar--BackgroundColor); }
