/* stylelint-enable */
.pf-c-button {
  --pf-c-button--PaddingY: var(--pf-global--spacer--form-element);
  --pf-c-button--PaddingX: var(--pf-global--spacer--md);
  --pf-c-button--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-button--FontWeight: var(--pf-global--FontWeight--semi-bold);
  --pf-c-button--FontSize: var(--pf-global--FontSize--md);
  --pf-c-button--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-button--BorderColor: transparent;
  --pf-c-button--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-button--hover--BorderWidth: var(--pf-global--BorderWidth--md);
  --pf-c-button--disabled--Color: var(--pf-global--disabled-color--100);
  --pf-c-button--disabled--BackgroundColor: var(--pf-global--disabled-color--200);
  --pf-c-button--disabled--BorderColor: transparent;
  --pf-c-button--m-primary--BackgroundColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-primary--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-primary--hover--BackgroundColor: var(--pf-global--primary-color--200);
  --pf-c-button--m-secondary--BackgroundColor: transparent;
  --pf-c-button--m-secondary--BorderColor: var(--pf-global--primary-color--100);
  --pf-c-button--m-secondary--Color: var(--pf-global--primary-color--100);
  --pf-c-button--m-tertiary--BackgroundColor: transparent;
  --pf-c-button--m-tertiary--BorderColor: var(--pf-global--secondary-color--100);
  --pf-c-button--m-tertiary--Color: var(--pf-global--Color--100);
  --pf-c-button--m-danger--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-button--m-danger--Color: var(--pf-global--Color--light-100);
  --pf-c-button--m-danger--hover--BackgroundColor: var(--pf-global--danger-color--200);
  --pf-c-button--m-link--Color: var(--pf-global--link--Color);
  --pf-c-button--m-link--hover--Color: var(--pf-global--link--Color--hover);
  --pf-c-button--m-link--disabled--BackgroundColor: transparent;
  position: relative;
  display: inline-block;
  padding: var(--pf-c-button--PaddingY) var(--pf-c-button--PaddingX);
  font-size: var(--pf-c-button--FontSize);
  font-weight: var(--pf-c-button--FontWeight);
  line-height: var(--pf-c-button--LineHeight);
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 0;
  border-radius: var(--pf-c-button--BorderRadius); }
  .pf-c-button::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: var(--pf-c-button--BorderWidth) solid var(--pf-c-button--BorderColor);
    border-radius: var(--pf-c-button--BorderRadius); }
  .pf-c-button:hover, .pf-c-button.pf-m-hover, .pf-c-button:active, .pf-c-button.pf-m-active, .pf-c-button:focus, .pf-c-button.pf-m-focus {
    text-decoration: none; }
    .pf-c-button:hover::after, .pf-c-button.pf-m-hover::after, .pf-c-button:active::after, .pf-c-button.pf-m-active::after, .pf-c-button:focus::after, .pf-c-button.pf-m-focus::after {
      --pf-c-button--BorderWidth: var(--pf-c-button--hover--BorderWidth); }
  .pf-c-button.pf-m-block {
    display: block;
    width: 100%; }
  .pf-c-button.pf-m-primary {
    color: var(--pf-c-button--m-primary--Color);
    background-color: var(--pf-c-button--m-primary--BackgroundColor); }
    .pf-c-button.pf-m-primary:hover, .pf-c-button.pf-m-primary.pf-m-hover, .pf-c-button.pf-m-primary:active, .pf-c-button.pf-m-primary.pf-m-active, .pf-c-button.pf-m-primary:focus, .pf-c-button.pf-m-primary.pf-m-focus {
      --pf-c-button--m-primary--BackgroundColor: var(--pf-c-button--m-primary--hover--BackgroundColor); }
  .pf-c-button.pf-m-secondary {
    color: var(--pf-c-button--m-secondary--Color);
    background-color: var(--pf-c-button--m-secondary--BackgroundColor); }
    .pf-c-button.pf-m-secondary::after {
      --pf-c-button--BorderColor: var(--pf-c-button--m-secondary--BorderColor); }
  .pf-c-button.pf-m-tertiary {
    color: var(--pf-c-button--m-tertiary--Color);
    background-color: var(--pf-c-button--m-tertiary--BackgroundColor); }
    .pf-c-button.pf-m-tertiary::after {
      --pf-c-button--BorderColor: var(--pf-c-button--m-tertiary--BorderColor); }
  .pf-c-button.pf-m-danger {
    color: var(--pf-c-button--m-danger--Color);
    background-color: var(--pf-c-button--m-danger--BackgroundColor); }
    .pf-c-button.pf-m-danger:hover, .pf-c-button.pf-m-danger.pf-m-hover, .pf-c-button.pf-m-danger:active, .pf-c-button.pf-m-danger.pf-m-active, .pf-c-button.pf-m-danger:focus, .pf-c-button.pf-m-danger.pf-m-focus {
      --pf-c-button--m-danger--BackgroundColor: var(--pf-c-button--m-danger--hover--BackgroundColor); }
  .pf-c-button:disabled, .pf-c-button.pf-m-disabled {
    color: var(--pf-c-button--disabled--Color);
    pointer-events: none;
    background-color: var(--pf-c-button--disabled--BackgroundColor); }
    .pf-c-button:disabled::after, .pf-c-button.pf-m-disabled::after {
      --pf-c-button--BorderColor: var(--pf-c-button--disabled--BorderColor); }
  .pf-c-button.pf-m-link {
    color: var(--pf-c-button--m-link--Color); }
    .pf-c-button.pf-m-link:hover, .pf-c-button.pf-m-link.pf-m-hover, .pf-c-button.pf-m-link:active, .pf-c-button.pf-m-link.pf-m-active, .pf-c-button.pf-m-link:focus, .pf-c-button.pf-m-link.pf-m-focus {
      --pf-c-button--m-link--Color: var(--pf-c-button--m-link--hover--Color); }
    .pf-c-button.pf-m-link:disabled, .pf-c-button.pf-m-link.pf-m-disabled {
      --pf-c-button--m-link--Color: var(--pf-c-button--disabled--Color);
      background-color: var(--pf-c-button--m-link--disabled--BackgroundColor); }
  .pf-c-button.pf-m-plain {
    --pf-c-button--m-plain--Color: var(--pf-global--Color--200);
    --pf-c-button--m-plain--hover--Color: var(--pf-global--Color--100);
    --pf-c-button--m-plain--disabled--Color: var(--pf-global--disabled-color--200);
    --pf-c-button--m-plain--disabled--BackgroundColor: transparent;
    color: var(--pf-c-button--m-plain--Color); }
    .pf-c-button.pf-m-plain:hover, .pf-c-button.pf-m-plain.pf-m-hover, .pf-c-button.pf-m-plain:active, .pf-c-button.pf-m-plain.pf-m-active, .pf-c-button.pf-m-plain:focus, .pf-c-button.pf-m-plain.pf-m-focus {
      --pf-c-button--m-plain--Color: var(--pf-c-button--m-plain--hover--Color); }
    .pf-c-button.pf-m-plain:disabled, .pf-c-button.pf-m-plain.pf-m-disabled {
      --pf-c-button--m-plain--Color: var(--pf-c-button--m-plain--disabled--Color);
      background-color: var(--pf-c-button--m-plain--disabled--BackgroundColor); }

.pf-c-button__icon {
  --pf-c-button__icon--MarginRight: var(--pf-global--spacer--xs);
  margin-right: var(--pf-c-button__icon--MarginRight); }
