:root {
  /* --myApp-global--spacer--md: 30px; */
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: var(--myApp-global--spacer--md); */
  margin-top: 30px;
}

.notification-container {
  flex: 0 1 auto;
}
