/* stylelint-enable */
.pf-c-about-modal-box {
  --pf-global--Color--100: var(--pf-global--Color--light-100);
  --pf-global--Color--200: var(--pf-global--Color--light-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--light);
  --pf-global--primary-color--100: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color: var(--pf-global--primary-color--light-100);
  --pf-global--link--Color--hover: var(--pf-global--link--Color--light-hover);
  --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--dark-100); }
  .pf-c-about-modal-box .pf-c-card {
    --pf-c-card--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-200); }

.pf-c-about-modal-box {
  --pf-c-about-modal-box--BackgroundColor: #030303;
  --pf-c-about-modal-box--BoxShadow: 0 0 100px 0 rgba(255, 255, 255, 0.4);
  --pf-c-about-modal-box--ZIndex: var(--pf-global--ZIndex--2xl);
  --pf-c-about-modal-box--MaxWidth: 77rem;
  --pf-c-about-modal-box--Height: 47.625rem;
  --pf-c-about-modal-box--MinHeight: calc(var(--pf-c-about-modal-box__brand--PaddingTop) + var(--pf-c-about-modal-box__brand--PaddingBottom) + var(--pf-c-about-modal-box__header--PaddingBottom) + var(--pf-c-about-modal-box__content--MarginTop) + var(--pf-c-about-modal-box__content--MarginBottom) + var(--pf-c-about-modal-box__brand-image--Height) + (1rem * 6 * var(--pf-global--LineHeight--md)));
  --pf-c-about-modal-box--MaxHeight: calc(100vh - var(--pf-global--spacer--xl));
  --pf-c-about-modal-box--MarginLeft: var(--pf-global--spacer--3xl);
  --pf-c-about-modal-box--MarginRight: var(--pf-global--spacer--3xl);
  --pf-c-about-modal-box--PaddingTop: var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingBottom: var(--pf-global--spacer--xl);
  --pf-c-about-modal-box--PaddingLeft: var(--pf-global--spacer--xl);
  --pf-c-about-modal-box__brand--PaddingTop: var(--pf-global--spacer--2xl);
  --pf-c-about-modal-box__brand--PaddingRight: var(--pf-c-about-modal-box--PaddingRight);
  --pf-c-about-modal-box__brand--PaddingBottom: var(--pf-c-about-modal-box--PaddingBottom);
  --pf-c-about-modal-box__brand--PaddingLeft: var(--pf-c-about-modal-box--PaddingLeft);
  --pf-c-about-modal-box__close--PaddingTop: var(--pf-c-about-modal-box__brand--PaddingTop);
  --pf-c-about-modal-box__close--PaddingRight: var(--pf-c-about-modal-box--PaddingRight);
  --pf-c-about-modal-box__close--PaddingBottom: var(--pf-c-about-modal-box__brand--PaddingBottom);
  --pf-c-about-modal-box__close--ZIndex: var(--pf-global--ZIndex--2xl);
  --pf-c-about-modal-box__brand-image--Height: 2.5rem;
  --pf-c-about-modal-box__header--PaddingRight: var(--pf-c-about-modal-box--PaddingRight);
  --pf-c-about-modal-box__header--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-about-modal-box__header--PaddingLeft: var(--pf-c-about-modal-box--PaddingLeft);
  --pf-c-about-modal-box__header-strapline--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-about-modal-box__content--MarginTop: var(--pf-c-about-modal-box--PaddingTop);
  --pf-c-about-modal-box__content--MarginRight: var(--pf-c-about-modal-box--PaddingRight);
  --pf-c-about-modal-box__content--MarginBottom: var(--pf-c-about-modal-box--PaddingBottom);
  --pf-c-about-modal-box__content--MarginLeft: var(--pf-c-about-modal-box--PaddingLeft);
  --pf-c-about-modal-box__content--MinHeight: calc(1rem * 4 * var(--pf-global--LineHeight--md));
  --pf-c-about-modal-box__logo--PaddingRight: var(--pf-c-about-modal-box--PaddingRight);
  --pf-c-about-modal-box__logo--PaddingBottom: var(--pf-c-about-modal-box--PaddingBottom);
  --pf-c-about-modal-box__logo--PaddingLeft: var(--pf-c-about-modal-box--PaddingLeft);
  --pf-c-about-modal-box__logo-image--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-about-modal-box__logo-image--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-about-modal-box__logo-image--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-about-modal-box__logo-image--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-about-modal-box__logo-image--Width: 14.75rem;
  --pf-c-about-modal-box__logo-image--Height: 6.875rem;
  --pf-c-about-modal-box__logo-image--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-about-modal-box__button-close--Color: var(--pf-global--Color--100);
  --pf-c-about-modal-box__button-close--hover--Color: var(--pf-global--Color--100);
  --pf-c-about-modal-box__button-close--ZIndex: var(--pf-global--ZIndex--2xl);
  --pf-c-about-modal-box__button-close--FontSize: var(--pf-global--FontSize--xl);
  --pf-c-about-modal-box__button-close--Width: calc(var(--pf-c-about-modal-box__button-close--FontSize) * 2);
  --pf-c-about-modal-box__button-close--Height: calc(var(--pf-c-about-modal-box__button-close--FontSize) * 2);
  --pf-c-about-modal-box__button-close--BackgroundColor: #030303;
  --pf-c-about-modal-box__button-close--hover--BackgroundColor: rgba(3, 3, 3, 0.4);
  z-index: var(--pf-c-about-modal-box--ZIndex);
  display: grid;
  grid-template-rows: max-content max-content auto max-content;
  grid-template-areas: "brand close" "header header" "content content" "logo logo";
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--pf-c-about-modal-box--BackgroundColor);
  box-shadow: var(--pf-c-about-modal-box--BoxShadow); }
  @media screen and (min-width: 576px) {
    .pf-c-about-modal-box {
      --pf-c-about-modal-box--PaddingTop: var(--pf-global--spacer--3xl);
      --pf-c-about-modal-box--PaddingRight: var(--pf-global--spacer--3xl);
      --pf-c-about-modal-box--PaddingBottom: var(--pf-global--spacer--3xl);
      --pf-c-about-modal-box--PaddingLeft: var(--pf-global--spacer--3xl); } }
  @media only screen and (min-width: 576px) {
    .pf-c-about-modal-box {
      grid-template-columns: 5fr 1fr;
      grid-template-areas: "brand          hero" "header         hero" "content        hero" "logo           hero"; } }
  @media only screen and (min-width: 992px) {
    .pf-c-about-modal-box {
      grid-template-columns: 62fr 38fr;
      grid-template-rows: max-content max-content auto;
      grid-template-areas: "brand          hero" "header         hero" "content        hero";
      max-width: var(--pf-c-about-modal-box--MaxWidth);
      height: var(--pf-c-about-modal-box--Height);
      min-height: var(--pf-c-about-modal-box--MinHeight);
      max-height: var(--pf-c-about-modal-box--MaxHeight);
      margin-right: var(--pf-c-about-modal-box--MarginRight);
      margin-left: var(--pf-c-about-modal-box--MarginLeft); } }

.pf-c-about-modal-box__brand {
  grid-area: brand;
  display: flex;
  padding: var(--pf-c-about-modal-box__brand--PaddingTop) var(--pf-c-about-modal-box__brand--PaddingRight) var(--pf-c-about-modal-box__brand--PaddingBottom) var(--pf-c-about-modal-box__brand--PaddingLeft); }

.pf-c-about-modal-box__brand-image {
  height: var(--pf-c-about-modal-box__brand-image--Height); }

.pf-c-about-modal-box__header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: var(--pf-c-about-modal-box__header--PaddingRight);
  padding-bottom: var(--pf-c-about-modal-box__header--PaddingBottom);
  padding-left: var(--pf-c-about-modal-box__header--PaddingLeft); }

.pf-c-about-modal-box__header-strapline {
  padding-bottom: var(--pf-c-about-modal-box__header-strapline--PaddingBottom); }

.pf-c-about-modal-box__content {
  grid-area: content;
  min-height: var(--pf-c-about-modal-box__content--MinHeight);
  margin-top: var(--pf-c-about-modal-box__content--MarginTop);
  margin-right: var(--pf-c-about-modal-box__content--MarginRight);
  margin-bottom: var(--pf-c-about-modal-box__content--MarginBottom);
  margin-left: var(--pf-c-about-modal-box__content--MarginLeft);
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain; }
  @media screen and (min-width: 576px) {
    .pf-c-about-modal-box__content {
      min-height: auto;
      overflow: visible;
      overscroll-behavior: auto; } }

.pf-c-about-modal-box__logo {
  grid-area: logo;
  padding-right: var(--pf-c-about-modal-box__logo--PaddingRight);
  padding-bottom: var(--pf-c-about-modal-box__logo--PaddingBottom);
  padding-left: var(--pf-c-about-modal-box__logo--PaddingLeft); }
  @media only screen and (min-width: 992px) {
    .pf-c-about-modal-box__logo {
      grid-area: 2 / 2;
      align-self: end;
      padding: 0; } }

.pf-c-about-modal-box__logo-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pf-c-about-modal-box__logo-image--Width);
  height: var(--pf-c-about-modal-box__logo-image--Height);
  padding: var(--pf-c-about-modal-box__logo-image--PaddingTop) var(--pf-c-about-modal-box__logo-image--PaddingRight) var(--pf-c-about-modal-box__logo-image--PaddingBottom) var(--pf-c-about-modal-box__logo-image--PaddingLeft);
  background-color: var(--pf-c-about-modal-box__logo-image--BackgroundColor); }

.pf-c-about-modal-box__close {
  grid-area: close;
  z-index: var(--pf-c-about-modal-box__close--ZIndex);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: var(--pf-c-about-modal-box__close--PaddingTop);
  padding-right: var(--pf-c-about-modal-box__close--PaddingRight);
  padding-bottom: var(--pf-c-about-modal-box__close--PaddingBottom); }
  @media only screen and (min-width: 576px) {
    .pf-c-about-modal-box__close {
      grid-area: 1 / 2;
      justify-content: center;
      padding-right: 0; } }
  @media only screen and (min-width: 992px) {
    .pf-c-about-modal-box__close {
      justify-content: flex-end;
      padding-right: var(--pf-c-about-modal-box__close--PaddingRight); } }
  .pf-c-about-modal-box__close .pf-c-button.pf-m-plain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--pf-c-about-modal-box__button-close--Width);
    height: var(--pf-c-about-modal-box__button-close--Height);
    font-size: var(--pf-c-about-modal-box__button-close--FontSize);
    color: var(--pf-c-about-modal-box__button-close--Color);
    background-color: var(--pf-c-about-modal-box__button-close--BackgroundColor);
    border-radius: 50%; }
    .pf-c-about-modal-box__close .pf-c-button.pf-m-plain:hover, .pf-c-about-modal-box__close .pf-c-button.pf-m-plain.pf-m-hover {
      color: var(--pf-c-about-modal-box__button-close--hover--Color);
      background-color: var(--pf-c-about-modal-box__button-close--hover--BackgroundColor); }

.pf-c-about-modal-box__hero {
  display: none;
  overflow: hidden; }
  @media only screen and (min-width: 576px) {
    .pf-c-about-modal-box__hero {
      display: block;
      grid-area: hero; } }

.pf-c-about-modal-box__hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }
