/* stylelint-enable */
.pf-c-form-control {
  --pf-global--Color--100: var(--pf-global--Color--dark-100);
  --pf-global--Color--200: var(--pf-global--Color--dark-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--dark);
  --pf-global--primary-color--100: var(--pf-global--primary-color--dark-100);
  --pf-global--link--Color: var(--pf-global--primary-color--dark-100);
  --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--light-100); }

.pf-c-form-control {
  --pf-c-form-control--FontSize: var(--pf-global--FontSize--md);
  --pf-c-form-control--LineHeight: var(--pf-global--LineHeight--md);
  --pf-c-form-control--Color: var(--pf-global--Color--dark-100);
  --pf-c-form-control--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-form-control--BorderTopColor: var(--pf-global--BorderColor--light-200);
  --pf-c-form-control--BorderRightColor: var(--pf-global--BorderColor--light-200);
  --pf-c-form-control--BorderBottomColor: var(--pf-global--BorderColor--dark);
  --pf-c-form-control--BorderLeftColor: var(--pf-global--BorderColor--light-200);
  --pf-c-form-control--BorderRadius: 0;
  --pf-c-form-control--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-form-control--PaddingTop: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
  --pf-c-form-control--PaddingBottom: calc(var(--pf-global--spacer--form-element) - var(--pf-global--BorderWidth--sm));
  --pf-c-form-control--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-form-control--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-form-control--hover--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-form-control--focus--PaddingBottom: calc(var(--pf-c-form-control--PaddingBottom) - calc(var(--pf-c-form-control--focus--BorderBottomWidth) - var(--pf-c-form-control--BorderWidth)));
  --pf-c-form-control--focus--BorderBottomWidth: var(--pf-global--BorderWidth--md);
  --pf-c-form-control--focus--BorderBottomColor: var(--pf-global--primary-color--100);
  --pf-c-form-control--placeholder--Color: var(--pf-global--Color--dark-200);
  --pf-c-form-control--disabled--Color: var(--pf-global--disabled-color--100);
  --pf-c-form-control--disabled--BackgroundColor: var(--pf-global--disabled-color--200);
  --pf-c-form-control--disabled--BorderColor: transparent;
  --pf-c-form-control--readonly--BorderBottomColor: var(--pf-global--disabled-color--200);
  --pf-c-form-control--readonly--focus--PaddingBottom: var(--pf-c-form-control--PaddingBottom);
  --pf-c-form-control--readonly--focus--BorderBottomWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-form-control--readonly--focus--BorderBottomColor: var(--pf-global--disabled-color--200);
  --pf-c-form-control--invalid--PaddingBottom: calc(var(--pf-c-form-control--PaddingBottom) - calc(var(--pf-c-form-control--invalid--BorderBottomWidth) - var(--pf-c-form-control--BorderWidth)));
  --pf-c-form-control--invalid--BorderBottomColor: var(--pf-global--danger-color--100);
  --pf-c-form-control--invalid--BorderBottomWidth: var(--pf-global--BorderWidth--md);
  --pf-c-form-control--invalid--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-form-control--invalid--BackgroundPosition: calc(100% - var(--pf-c-form-control--PaddingLeft)) var(--pf-c-form-control--PaddingLeft);
  --pf-c-form-control--invalid--BackgroundSize: var(--pf-c-form-control--FontSize) var(--pf-c-form-control--FontSize);
  --pf-c-form-control--invalid--BackgroundUrl: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23c00' d='M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
  --pf-c-form-control--invalid--Background: var(--pf-c-form-control--invalid--BackgroundUrl) var(--pf-c-form-control--invalid--BackgroundPosition)/var(--pf-c-form-control--invalid--BackgroundSize) no-repeat;
  --pf-c-form-control__select--BackgroundUrl: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23urrentColor' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'/%3E%3C/svg%3E");
  --pf-c-form-control__select--BackgroundSize: 0.875rem;
  --pf-c-form-control__select--BackgroundPosition: calc(100% - var(--pf-c-form-control--PaddingRight)) center;
  --pf-c-form-control__select--Background: var(--pf-c-form-control__select--BackgroundUrl) var(--pf-c-form-control__select--BackgroundPosition)/var(--pf-c-form-control__select--BackgroundSize) no-repeat;
  --pf-c-form-control__select--PaddingRight: var(--pf-global--spacer--lg);
  position: relative;
  width: 100%;
  padding: var(--pf-c-form-control--PaddingTop) var(--pf-c-form-control--PaddingRight) var(--pf-c-form-control--PaddingBottom) var(--pf-c-form-control--PaddingLeft);
  font-size: var(--pf-c-form-control--FontSize);
  line-height: var(--pf-c-form-control--LineHeight);
  color: var(--pf-c-form-control--Color);
  background-color: var(--pf-c-form-control--BackgroundColor);
  border: var(--pf-c-form-control--BorderWidth) solid;
  border-color: var(--pf-c-form-control--BorderTopColor) var(--pf-c-form-control--BorderRightColor) var(--pf-c-form-control--BorderBottomColor) var(--pf-c-form-control--BorderLeftColor);
  border-radius: var(--pf-c-form-control--BorderRadius);
  /* stylelint-disable */
  -moz-appearance: none;
  -webkit-appearance: none;
  /* stylelint-enable */ }
  .pf-c-form-control::placeholder {
    color: var(--pf-c-form-control--placeholder--Color); }
  .pf-c-form-control[readonly], .pf-c-form-control[readonly].pf-m-hover, .pf-c-form-control[readonly]:hover, .pf-c-form-control[readonly].pf-m-focus, .pf-c-form-control[readonly]:focus {
    padding-bottom: var(--pf-c-form-control--readonly--focus--PaddingBottom);
    border-bottom-color: var(--pf-c-form-control--readonly--focus--BorderBottomColor);
    border-bottom-width: var(--pf-c-form-control--readonly--focus--BorderBottomWidth); }
  select.pf-c-form-control {
    padding-right: var(--pf-c-form-control__select--PaddingRight);
    background: var(--pf-c-form-control__select--Background); }
    select.pf-c-form-control[aria-invalid="true"] {
      --pf-c-form-control--invalid--BackgroundPosition: calc(100% - var(--pf-c-form-control--FontSize) - calc(var(--pf-c-form-control--PaddingRight) * 2));
      background: var(--pf-c-form-control__select--Background), var(--pf-c-form-control--invalid--Background); }
  .pf-c-form-control.pf-m-hover, .pf-c-form-control:hover {
    border-bottom-color: var(--pf-c-form-control--hover--BorderBottomColor); }
  .pf-c-form-control.pf-m-focus, .pf-c-form-control:focus {
    padding-bottom: var(--pf-c-form-control--focus--PaddingBottom);
    border-bottom-color: var(--pf-c-form-control--focus--BorderBottomColor);
    border-bottom-width: var(--pf-c-form-control--focus--BorderBottomWidth); }
  .pf-c-form-control:disabled {
    color: var(--pf-c-form-control--disabled--Color);
    cursor: not-allowed;
    background-color: var(--pf-c-form-control--disabled--BackgroundColor);
    border-color: var(--pf-c-form-control--disabled--BorderColor); }
  .pf-c-form-control[aria-invalid="true"] {
    padding-right: var(--pf-c-form-control--invalid--PaddingRight);
    padding-bottom: var(--pf-c-form-control--invalid--PaddingBottom);
    background: var(--pf-c-form-control--invalid--Background);
    border-bottom-color: var(--pf-c-form-control--invalid--BorderBottomColor);
    border-bottom-width: var(--pf-c-form-control--invalid--BorderBottomWidth); }
