/* stylelint-enable */
.pf-c-alert {
  --pf-global--Color--100: var(--pf-global--Color--dark-100);
  --pf-global--Color--200: var(--pf-global--Color--dark-200);
  --pf-global--BorderColor: var(--pf-global--BorderColor--dark);
  --pf-global--primary-color--100: var(--pf-global--primary-color--dark-100);
  --pf-global--link--Color: var(--pf-global--primary-color--dark-100);
  --pf-global--BackgroundColor--100: var(--pf-global--BackgroundColor--light-100); }

.pf-c-alert {
  --pf-c-alert--BoxShadow: var(--pf-global--BoxShadow--lg);
  --pf-c-alert--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-alert__icon--Padding: var(--pf-global--spacer--md);
  --pf-c-alert__icon__svg--MarginTop: var(--pf-global--spacer--xs);
  --pf-c-alert__icon--Color: var(--pf-global--Color--100);
  --pf-c-alert__icon--FontSize: var(--pf-global--icon--FontSize--lg);
  --pf-c-alert__body--Padding: var(--pf-global--spacer--md);
  --pf-c-alert__title--FontSize: var(--pf-global--FontSize--md);
  --pf-c-alert__title--MarginTop: var(--pf-global--spacer--xs);
  --pf-c-alert__title--MarginBottom: var(--pf-global--spacer--xs);
  --pf-c-alert__title--Color: var(--pf-global--Color--100);
  --pf-c-alert__action--PaddingY: var(--pf-global--spacer--md);
  --pf-c-alert__action--PaddingX: var(--pf-global--spacer--lg);
  --pf-c-alert--m-success__icon--Color: var(--pf-global--success-color--200);
  --pf-c-alert--m-success__icon--BackgroundColor: var(--pf-global--success-color--100);
  --pf-c-alert--m-success__title--Color: var(--pf-global--success-color--200);
  --pf-c-alert--m-danger__icon--Color: var(--pf-global--danger-color--300);
  --pf-c-alert--m-danger__icon--BackgroundColor: var(--pf-global--danger-color--100);
  --pf-c-alert--m-danger__title--Color: var(--pf-global--danger-color--200);
  --pf-c-alert--m-warning__icon--Color: var(--pf-global--warning-color--200);
  --pf-c-alert--m-warning__icon--BackgroundColor: var(--pf-global--warning-color--100);
  --pf-c-alert--m-warning__title--Color: var(--pf-global--warning-color--200);
  --pf-c-alert--m-info__icon--Color: var(--pf-global--info-color--200);
  --pf-c-alert--m-info__icon--BackgroundColor: var(--pf-global--info-color--100);
  --pf-c-alert--m-info__title--Color: var(--pf-global--info-color--200);
  display: flex;
  background-color: var(--pf-c-alert--BackgroundColor);
  box-shadow: var(--pf-c-alert--BoxShadow); }
  .pf-c-alert.pf-m-success {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-success__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-success__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-success__title--Color); }
  .pf-c-alert.pf-m-danger {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-danger__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-danger__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-danger__title--Color); }
  .pf-c-alert.pf-m-warning {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-warning__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-warning__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-warning__title--Color); }
  .pf-c-alert.pf-m-info {
    --pf-c-alert__icon--Color: var(--pf-c-alert--m-info__icon--Color);
    --pf-c-alert__icon--BackgroundColor: var(--pf-c-alert--m-info__icon--BackgroundColor);
    --pf-c-alert__title--Color: var(--pf-c-alert--m-info__title--Color); }

.pf-c-alert__icon {
  display: flex;
  padding: var(--pf-c-alert__icon--Padding);
  font-size: var(--pf-c-alert__icon--FontSize);
  color: var(--pf-c-alert__icon--Color);
  background-color: var(--pf-c-alert__icon--BackgroundColor); }
  .pf-c-alert__icon svg {
    margin-top: var(--pf-c-alert__icon__svg--MarginTop); }

.pf-c-alert__body {
  flex: 1 1 100%;
  padding: var(--pf-c-alert__body--Padding); }

.pf-c-alert__title {
  margin-top: var(--pf-c-alert__title--MarginTop);
  margin-bottom: var(--pf-c-alert__title--MarginBottom);
  font-size: var(--pf-c-alert__title--FontSize);
  color: var(--pf-c-alert__title--Color); }

.pf-c-alert__action {
  padding: var(--pf-c-alert__action--PaddingY) var(--pf-c-alert__action--PaddingX);
  white-space: nowrap; }
