/* stylelint-enable */
.pf-c-input-group {
  --pf-c-input-group__text--FontSize: var(--pf-global--FontSize--md);
  --pf-c-input-group__text--PaddingX: var(--pf-global--spacer--sm);
  --pf-c-input-group__text--Color: var(--pf-global--Color--dark-200);
  --pf-c-input-group__text--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-input-group__text--BorderTopColor: var(--pf-global--BorderColor--light-200);
  --pf-c-input-group__text--BorderXColor: var(--pf-global--BorderColor--light-200);
  --pf-c-input-group__text--BorderBottomColor: var(--pf-global--BorderColor--dark);
  --pf-c-input-group__text--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-input-group__textarea--MinHeight: var(--pf-global--spacer--xl);
  --pf-c-input-group--c-button--BorderRadius: var(--pf-global--BorderRadius--sm);
  --pf-c-input-group--c-form-control--invalid--ZIndex: var(--pf-global--ZIndex--xs);
  --pf-c-input-group--c-form-control--MarginRight: 1px;
  /* stylelint-disable */
  /* stylelint-enable */
  display: flex;
  width: 100%; }
  .pf-c-input-group > * + * {
    margin-left: -1px; }
  .pf-c-input-group label.pf-c-input-group__text {
    cursor: pointer; }
  .pf-c-input-group .pf-c-form-control {
    position: static; }
    .pf-c-input-group .pf-c-form-control[aria-invalid="true"] {
      position: relative;
      z-index: var(--pf-c-input-group--c-form-control--invalid--ZIndex); }
      .pf-c-input-group .pf-c-form-control[aria-invalid="true"]:not(:last-child) {
        margin-right: var(--pf-c-input-group--c-form-control--MarginRight); }
  .pf-c-input-group .pf-c-button {
    position: relative; }
    .pf-c-input-group .pf-c-button, .pf-c-input-group .pf-c-button::after {
      border-radius: 0; }
    .pf-c-input-group .pf-c-button:first-child, .pf-c-input-group .pf-c-button:first-child::after {
      border-radius: var(--pf-c-input-group--c-button--BorderRadius) 0 0 var(--pf-c-input-group--c-button--BorderRadius); }
    .pf-c-input-group .pf-c-button:last-child, .pf-c-input-group .pf-c-button:last-child::after {
      border-radius: 0 var(--pf-c-input-group--c-button--BorderRadius) var(--pf-c-input-group--c-button--BorderRadius) 0; }
  .pf-c-input-group .pf-c-dropdown__toggle {
    height: 100%; }
  .pf-c-input-group input:not([type="checkbox"]):not([type="radio"]),
  .pf-c-input-group textarea {
    flex: 2; }
  .pf-c-input-group textarea {
    min-height: var(--pf-c-input-group__textarea--MinHeight); }
  .pf-c-input-group .pf-c-input-group__text {
    display: flex;
    align-items: center;
    padding-right: var(--pf-c-input-group__text--PaddingX);
    padding-left: var(--pf-c-input-group__text--PaddingX);
    font-size: var(--pf-c-input-group__text--FontSize);
    color: var(--pf-c-input-group__text--Color);
    text-align: center;
    background-color: var(--pf-c-input-group__text--BackgroundColor);
    border: var(--pf-c-input-group__text--BorderWidth) solid;
    border-color: var(--pf-c-input-group__text--BorderTopColor) var(--pf-c-input-group__text--BorderXColor) var(--pf-c-input-group__text--BorderBottomColor); }
